@font-face {
  font-family: "Garet";
  src: url("../fonts/Garet-Book.ttf") format("ttf"),
    url("../fonts/HKGrotesk-Regular.ttf") format("ttf");

  /* Add more font formats if needed */
  /* Specify the path to your font files relative to the CSS file */
  /* Replace 'FontName' with the desired font name */
}

/* Use the imported font in your CSS */
body {
  font-family: "Garet-Book", sans-serif;
  font-weight: normal;
  font-style: normal;
}
